In [1]:
import geopandas
import geopy
from geopy.geocoders import Nominatim

In [2]:
locator = Nominatim(user_agent="Firiet")
location = locator.geocode("KEBON BAWANG")

In [3]:
print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))

Latitude = -6.1198964, Longitude = 106.8885581

In [14]:
import pandas as pd

df = pd.read_csv("Ward_Occurances.csv")
df

                ward  Occurances
0          JAGAKARSA         126
1      PONDOK PINANG         119
2         JATIPADANG         101
3        PENJARINGAN          99
4        LEBAK BULUS          99
..               ...         ...
261           GLODOK           5
262       KAYU MANIS           5
263      PULO GADUNG           3
264  RAWABADAK UTARA           3
265      JATI PADANG           3

[266 rows x 2 columns]

In [15]:
from geopy.extra.rate_limiter import RateLimiter

# 1 - conveneint function to delay between geocoding calls
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
# 2- - create location column
df['location'] = df['ward'].apply(geocode)
# 3 - create longitude, laatitude and altitude from location column (returns tuple)
df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)
# 4 - split point column into latitude, longitude and altitude columns
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

In [16]:
df

,ward,Occurances,location,point,latitude,longitude,altitude
0,JAGAKARSA,126,"(Jagakarsa, Jakarta Selatan, Daerah Khusus Ibu...","(-6.3247665, 106.8194219, 0.0)",-6.324766,106.819422,0.0
1,PONDOK PINANG,119,"(Pondok Pinang, Kebayoran Lama, Jakarta Selata...","(-6.2736372, 106.7789504, 0.0)",-6.273637,106.778950,0.0
2,JATIPADANG,101,"(Pemakaman Jatipadang, Jati Padang, Pasar Ming...","(-6.29032665, 106.82897725712799, 0.0)",-6.290327,106.828977,0.0
3,PENJARINGAN,99,"(Penjaringan, Jakarta Utara, Daerah Khusus Ibu...","(-6.11726515, 106.76743343432852, 0.0)",-6.117265,106.767433,0.0
4,LEBAK BULUS,99,"(Lebak Bulus, Cilandak, Jakarta Selatan, Daera...","(-6.3016717, 106.779691, 0.0)",-6.301672,106.779691,0.0
...,...,...,...,...,...,...,...
261,GLODOK,5,"(Glodok, Taman Sari, Jakarta Barat, Daerah Khu...","(-6.1448405, 106.8131866, 0.0)",-6.144840,106.813187,0.0
262,KAYU MANIS,5,"(Kayu Manis, Matraman, Jakarta Timur, Daerah K...","(-6.2018835, 106.8619995240675, 0.0)",-6.201884,106.862000,0.0
263,PULO GADUNG,3,"(Pulo Gadung, Jakarta Timur, Daerah Khusus Ibu...","(-6.1911085, 106.89060525673162, 0.0)",-6.191109,106.890605,0.0
264,RAWABADAK UTARA,3,"(Kolam Renang Rawabadak, Jalan Pembangunan I, ...","(-6.1263115, 106.89772345, 0.0)",-6.126311,106.897723,0.0
265,JATI PADANG,3,"(Jati Padang, Pasar Minggu, Jakarta Selatan, D...","(-6.2872405, 106.8305449, 0.0)",-6.287241,106.830545,0.0

In [18]:
df.to_csv('Coordinates.csv', index=False)